td.align-middle {
    vertical-align: middle !important;
}
h1 {
    margin-bottom: 40px;
}
.summernotelite {
    resize: none;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
